.vscode
website/__pycache__
website/database.db
aws-elastic-beanstalk-cli-setup
venv/
__pycache__/
.ebignore
pylintrc
.env
c:backup_file.tar
raspi.py
instance/
test.py
backup_file.dump
report-that-pantry-19962bc42f2e.json
vision.py
new_venv/
pantry-map-2.png
pantry-map-3.png
pantry-map-4.png
pantry-map.jpeg.png
pantry-photo-2.jpg
pantry-photo.jpg