/* Add margin to content area */
.content-area {
  margin-top: 100px; /* Adjust as needed */
}


/* Media query for smaller screens */
@media (max-width: 768px) { 
  .content-area {
      margin-top: 80px; /* Adjust for smaller screens if needed */
  }
}


.footer {
    background-color: #353432; 
    color: white;
    padding: 2rem 0;
    margin-top: 3rem;
}

.footer a {
    color: white;
}

form {
    margin:10px 60px;
}