{% extends "base.html" %}
{% block content %}
    <!-- Table -->
    <div class="container-fluid text-center w-100">

        <div id="topPic" class="row">
            <img class="w-100 d-flex align-items-center" src="{{url_for('static', filename='whiteLFP.png') }}" id="pantryPic"> 
            <!-- CREDIT: COURTESY OF CORRI BIESEMEYER -->
            <p id="homeText">Report That Pantry</p>
        </div>

        <div id="whatPantryTitleAndParagraph" class="row d-flex justify-content-center">
            <div id="whatPantryTitleAndParagraph" class="col-md-6 d-flex align-self-center flex-column">
                <h1 class="d-flex justify-content-center align-items-center" id="whatPantryOrgTitle">All About Report That Pantry</h1>
                <p class="d-flex justify-content-center" id="whatPantryOrgParagraph">Report That Pantry gives members of the community who are experiencing food insecurity easier accessibility to food. The technology consists of QR codes placed on the side of each pantry that connects to a website. Users can scan the QR code and report the level of food inside each pantry, allowing organizers to restock them quickly. This project was solely made by students of the Rosenblatt High School and supervised by Dr. Hallstrom, the director of the Institute for Sensing and Embedded Network Systems Engineering (I-SENSE) at Florida Atlantic University, Mr. Obaido, the Engineering teacher at the Rosenblatt High School, and Summer Faerman, the founder of Little Free Pantries.</p>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <img src="{{url_for('static', filename='us_with_DK_pantry.jpeg') }}" id="whatPantryOrgPic">
            </div>
        </div>

        <div id="whatIsPantry" class="container text-center">
            <h1 id="whatPantryTitle" class="text-center">What are Little Free Pantries?</h1>
            <p id="whatPantryParagraph">Little Free Pantries are free self-serve food pantries located in high traffic areas around South Florida. The model is simple, those who can afford leave food and those in need take - no questions asked. A wide assortment of food can be found at any given time including cereal, mac and cheese, canned food, chips, protein bars, and anything else that doesn’t need refrigeration. Thank you for your interest in supporting B’nai Torah TLC Program’s Little Free Pantry.</p>
        </div>
    
        <div class="row" id="picRowHome">

            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail">
                    <img style="width: 100%; height: 100%;" class="img-responsive" src="{{url_for('static', filename='greenLFP.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail">
                    <img style="width: 100%; height: 100%;" class="img-responsive" src="{{url_for('static', filename='woodLFP.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail">
                    <img style="width: 100%; height: 100%;" class="img-responsive" src="{{url_for('static', filename='blueLFP.png') }}" alt="">
                </a>
            </div>
        </div>

        <h1 id="howHelp" class="text-center">How to Help!</h1>
        <div class="container" id="bottomInstructions">
            <div class="row">
                <div class="col" id="howToReport">
                    <h3>Fill Up a Pantry</h3>
                    <ol id="instructionsListLeft">
                        <li id="instructionsList2">Purchase/gather non-perishables</li>
                        <li id="instructionsList2">Stop by one of the pantries- any day, any time</li>
                        <li id="instructionsList2">Pull into a safe parking spot and fill the pantry</li>
                    </ol>
                    <a id="bottomHomeLinks" href="http://mapping.littlefreepantry.org/">Pantry Locations</a>
                </div>
                <div class="col" id="howToReport">
                    <h3>Report a Pantry</h3>
                    <ol id="instructionsListRight">
                        <li id="instructionsList2">Scan the QR code on the pantry</li>
                        <li id="instructionsList2">Report the amount of food in the pantry</li>
                    </ol>
                    <a id="bottomHomeLinks" href="/status">Pantry Statuses</a>
                </div>
            </div>
        </div>

    </div>
</body>
    </html>
{% endblock %}