{% extends "base.html" %}
{% block content %}
    <!-- Table -->
    <div class="container text-center">

        <h3>What are Little Free Pantries?</h3>
        <div class="row">
                <p class="col-sm-6">Little Free Pantries are free self-serve food pantries located in high traffic areas around South Florida. The model is simple, those who can afford leave food and those in need take - no questions asked. <br><br>A wide assortment of food can be found at any given time including cereal, mac and cheese, canned food, chips, protein bars, and anything else that doesn’t need refrigeration. 
                    <br><br>Thank you for your interest in supporting B’nai Torah TLC Program’s Little Free Pantry</p>
                <img class="col-sm-6 img-fluid" src="{{ url_for('static', filename='pantry2.jpg') }}" alt="Pantry" style="margin-bottom: 50px;">
        </div>
        
<hr>
        <h2>Impact</h2>
    <!-- <div class="embed-responsive embed-responsive-16by9"> -->
        <div class="row">
            <div class="col-sm-6">
                <div id="map_canvas" class="embed-responsive-item">
                    <iframe width="100%" height="400px" src="https://www.google.com/maps/d/embed?mid=1SdZZfiYEgTG-KAbHRO4KQSTW-SL2RQ-i" style="display: block; margin: 50px auto;"></iframe>
                </div>
            </div>
            <div class="col-sm-6" id="intro_vid">
                
                <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/i3RngoUFzVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
<hr>
        <!-- </div> -->
   <div class="row">
    <h3>How are they Smart?</h3>
        <p>At the start of the 2020 school year, Rosenblatt High School at Donna Klein Jewish Academy’s engineering team started working on connecting our pantries to the cloud. In partnership with Florida Atlantic University’s ISENSE Lab and mentorship from Dr. Hallstrom and Mr. Obaido, the team of high schoolers outfitted our community pantries with reporting capabilities. Users and volunteers can report how much food is in the pantry by clicking one of 5 buttons on the side of the pantry labeled in both english and spanish. The pantry is then updated on our database and displayed on our status page. This lets volunteers know which pantries need to be refilled. 
<br><br>
            People can also report the status of a given pantry through our website by clicking the report button. This allows for all of our current pantries to be connected even if they are not yet outfitted with the new on-site technology. Pantry users and volunteers are prompted to report the status of the pantry by the new QR codes we have put on them - scanning the QR code with a smartphone takes you directly to the pantries unique report page.
            </p>
   </div>
   <hr>

    <h4 class="text-center">How You Can Help:</h4>
        <div class="row">
                <img class="col-sm-6 img-fluid"  src="{{ url_for('static', filename='Fill Up a Pantry Flyer.png') }}" alt="Pantry" style="margin-bottom: 50px;">
            <div class="col-sm-6">
                <h3>Contact Us</h3>
                <p>B'nai Torah Congregation</p>
                <p>6261 SW 18th Street,<br>
                    Boca Raton, FL 33433</p>
                <p>Email: <a href=mailto:summer.faerman@Bnai-Torah.org>summer.faerman@Bnai-Torah.org</a></p>
                <p>Phone: (561) 392-8566; ask for Summer Faerman</p>
            </div>
        </div>


    </div>
</body>
    </html>
{% endblock %}