{% extends "base.html" %} {% block content %}
<script type="text/javascript">

    let geocoder;
    let map;
    let pins = [];

    function cacheAddress(locationData) {
        // TODO: persist to model
        window.localStorage.setItem(locationData.address, JSON.stringify({latLong: locationData.latLong}))
    }

    function codeAddress(locationData) {
        geocoder.geocode( { 'address': locationData.address}, function(results, status) {
            if (status === 'OK') {
                locationData.latLong = results[0].geometry.location
                cacheAddress(locationData)
                setPin(location)
            } else {
                console.error('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function buildPopUp(locationData) {
        const template = document.getElementById('box-detail-template').content.cloneNode(true);
        template.querySelector('.name').innerHTML = locationData.name
        template.querySelector('.address').innerHTML = locationData.address
        template.querySelector('.status').classList.add(locationData.status.toLowerCase())
        template.querySelector('.status').innerHTML = locationData.status
        return template
    }

    function setPin(locationData){
        const marker = new google.maps.Marker({
            position: locationData.latLong,
            map: map,
            title: locationData.name,
        });
        pins.push(marker)
        marker.addListener("click", () => {
            // TODO: custom modal?
            window.infoWindow.close();
            window.infoWindow.setContent(buildPopUp(locationData));
            window.infoWindow.open(marker.getMap(), marker);
        });

    }

    function getLocationData(locationData) {
        let cache = window.localStorage.getItem(locationData.address)
        if (locationData.latLong) {
            setPin(locationData)
        } else if(cache) {
            const parsedLocation = JSON.parse(cache)
            locationData.latLong = parsedLocation.latLong
            setPin(locationData)
        } else {
            codeAddress(locationData)
        }
    }

  // Initialize and add the map
  function initMap() {
    const orgLatLong = 'organization.latlong'.split(',')
    console.log('org latlong:', orgLatLong)
  	const downtown = { lat: 44.05109918945712, lng: -123.08484838938584 };
  	// The map, centered at organization
    geocoder = new google.maps.Geocoder();
    window.infoWindow = new google.maps.InfoWindow();

  	map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: downtown,
  	});

  	// TODO: manually placed markers, source unsure?
  	// TODO: add locations of the regular food banks and show if it’s closed or open

    {% for location in locations %}
        getLocationData({
            address: '{{location.address}} {{location.city}} {{location.state}}',
            latLong: '{{location.latLong}}',
            name: '{{location.name}}',
            status: '{{location.status}}',
        })
    {% endfor %}

  }

  window.initMap = initMap;
</script>

<style>
  #map {
    height: 400px;
    width: 100%;
  }
  .box-detail-modal {
    
  }
  .status.full {
    color: green;
  }
  .status.empty {
    color: red;
  }
</style>

<div id="map">loading...</div>

<template id="box-detail-template">
    <div class"box-detail-modal">
        <h2 class="name"></h2>
        <img src="" />
        <span class="address"></span>
        <span class="status"></span>
    </div>
</template>

<script
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=initMap&v=weekly"
  defer
></script>

{% endblock %}
