{% extends "base.html" %} {% block content %}
<div class="container">
  <!--Text-->
  <p>
    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over
    the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown
    fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
  </p>
  <div class="text-center">
    <img
      class="img-fluid"
      src="{{ url_for('static', filename='pantrya.jpg') }}"
      alt="Pantry"
    />
    <img
      class="img-fluid"
      src="{{ url_for('static', filename='pantrya.jpg') }}"
      alt="Pantry"
    />
  </div>
</div>
{% endblock %}
