{% extends "base.html" %}
{% block content %}
    <!--Text-->
    <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center">
        <img src="{{ url_for('static', filename='pantrya.jpg') }}" alt="Pantry">
        <img src="{{ url_for('static', filename='pantrya.jpg') }}" alt="Pantry">
    </div>
{% endblock %}