{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row mb-3">
        <input type="text" id="searchInput" placeholder="Search..." class="form-control" data-search-on-enter-key="false">
    </div>
    <div class="table-responsive">
        <table
            id="myTable"
            data-toggle="table"
            data-search="true"
            data-search-selector="#searchInput"
            data-show-columns-toggle-all="true"
            data-sort-name="time"
            data-sort-order="desc"
            class="table table-dark table-hover">
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th data-field="time" data-sortable="true">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    <tr>
                        <td>{{ location.location_id }}</td>
                        <td>
                            <p>{{ location.location_name }}<br>{{ location.address }}, {{ location.city }}, {{ location.state }}</p>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#locationModal{{ location.location_id }}">Details</button>
                            <span class="badge badge-{{ 'success' if location.status == 'Full' else ('warning' if location.status == 'Half Full' else 'danger') }}">
                                {{ location.status }}
                            </span>
                        </td>
                        <!-- <td>{{ location.location_name }}<button id="submitBtn" type="submit" class="btn btn-primary">Visit page</button><br>{{ location.city }}, {{ location.state }}
                        </td> -->
                        <!-- <td><a href="/location/{{ location.location_id }}"><button id="submitBtn" type="submit" class="btn btn-primary">Submit</button></a></td> -->
                        <td>{{ location.time.strftime("%c") }}</td> 
                        
                        <div class="modal fade" id="locationModal{{ location.location_id }}" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel{{ location.location_id }}" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="locationModalLabel{{ location.location_id }}">{{ location.location_name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>**Address:** {{ location.address }}, {{ location.city }}, {{ location.state }}</p>
                                <p>**Status:** <span class="badge badge-{{ 'success' if location.status == 'Full' else ('warning' if location.status == 'Half Full' else 'danger') }}">{{ location.status }}</span></p>
                                <p>**Last Updated:** {{ location.time.strftime("%c") }}</p>
                                </div>
                            </div>
                          </div>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function statusFormatter(value, row, index) {
          if (value === 'Full') {
              return '<span class="badge badge-success">' + value + '</span>';
          } else if (value === 'Half Full') {
              return '<span class="badge badge-warning">' + value + '</span>';
          } else if (value === 'Empty') {
              return '<span class="badge badge-danger">' + value + '</span>';
          } else {
              return '<span class="badge badge-secondary">' + value + '</span>'; // For unknown status
          }
      }
  </script>

{% endblock %}
