{% extends "base.html" %} {% block content %}
<form method="POST">
  <div class="row">
    <div class="col-md-12">
      <label for="name" class="form-label">Organization Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter organization name"
        required
      />
      <br />
      <div class="invalid-feedback">Please provide a valid name.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="address" class="form-label">Organization Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        placeholder="Enter organization address"
        required
      />
      <br />
      <div class="invalid-feedback">Please provide a valid city.</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="authorization">
        <a
          href="/contactus"
          data-toggle="tooltip"
          data-placement="right"
          title="Click here to request code!"
          style="color: black"
          >Authorization code
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-info-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
            />
          </svg>
        </a>
      </label>
      <input
        type="password"
        class="form-control"
        id="authorization"
        name="authorization"
        placeholder="Enter authorization code"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </div>
</form>
{% endblock %}
