{% extends "base.html" %}
{% block content %}
<!-- <style>
    .vertical {
        border-left: 6px solid black;
        height: 1100px;
        position:absolute;
        left: 50%;
    }
</style>
<body style = "text-align: center;"> 
</body>
-->  
<style>
    img {
  border: 2px solid rgb(7, 0, 0);
  
}
</style> 
        
<div class = "vertical"></div>
<h1 style="text-align:center">How To Get Your Pantry Status Setup</h1>
<hr noshade="10">
<p>1. First, head over to the Add Organization page, where you need to enter your organizations name and address.</p>
<hr width="63%" align="left">
<p>2. Next, you will have to create an account under the Sign Up Page, and enter in all the required information.</p>
<hr width="63%" align="left">
<p>3. Then, head down to the Add Locations page, and enter in the required information for each of your pantries.</p>
<hr width="63%" align="left">
<p>4. Lastly, for each pantry you add, you will recevice a poster like the one below to print out and put on that pantry.</p>
<hr width="63%" align="left">

<div style="position: absolute; top: 700px; left: 200px">
    <img width= "440" height = "500" src="{{url_for('static', filename='poster1.jpg')}}" style="border-radius: 5%" >   
</div>

<div style="position: absolute; top: 380px; left: 950px">
    <img width= "440" height = "500" src="{{url_for('static', filename='setuppantry.jpeg')}}" style="border-radius: 5%" >   
</div>

<div style="position: absolute; top: 920px; left: 950px">
    <img width= "440" height = "500" src="{{url_for('static', filename='jon2.jpeg')}}" style="border-radius: 5%" >   
</div>
{% endblock %}