{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vk ungkapwqLwCm3jwbNJiiFmXQshAeFxdzWEMBCLCmWkW/lCUy" crossorigin="anonymous">
  </head>
  <form method="POST" class="needs-validation" novalidate>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required />
        <div class="valid-feedback">Looks Good!</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required />
        <div class="invalid-feedback">Please provide a valid email address.</div> </div>
      <div class="form-group col-md-6">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" min="1" placeholder="Enter age" required />
        <div class="invalid-feedback">Please provide your age.</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="description">What best describes you?</label>
        <select class="form-control" id="description" name="description" required>
          <option selected disabled value="">Choose...</option>
          <option value="volunteer">Pantry Volunteer</option>
          <option value="owner">Pantry Owner</option>
          <option value="beneficiary">Pantry Beneficiary</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" required />
        <div class="invalid-feedback">Password must be at least 7 characters long!</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="password2">Password (Confirm)</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" required />
        <div class="invalid-feedback d-none">Passwords do not match.</div> </div>
    </div>
    <br />
    <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
  </form>
 <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  {% endblock %}
