{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="form-group col-md-6" id="org-filter">
                    <label for="org" class="form-label">Organization</label>
                    <select class="form-control" id="org" name="org" onchange="this.form.submit()">
                        <option {% if current_org == 0 %}selected{% endif %} value="0">All</option>
                        {% for org in organizations %}
                        <option {% if current_org == org.id %}selected{% endif %} value="{{org.id}}">{{org.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <table class="table table-dark table-responsive" data-filter-control="true">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">Last Updated</th>
                <th scope="col" data-filter-control="select">Organization</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
            <td scope="row">{{ location.location_id }}</td>
            <!-- <td id="location">{{ location.address }} {{ location.city }}, {{ location.state }} {{ location.zip }}</td> -->
            <td id="location">{{location.location_name}}</td>
            <td class="alert{% if location.status == 'Full' %}-success{% elif location.status == 'Half Full' %}-warning{% else %}-danger{% endif %}">{{ location.status }}</td>
            <td id="time{{location.location_id}}">{{ location.time.strftime("%c") }}</td>
            <td>{{location.name}}</td>
            <td><a href="/report/{{ location.location_id }}" style="color:white;"><button type="button" class="btn btn-warning">Report</button></a></td>
            {% if user.is_authenticated %}
            <td><button type="button" class="btn btn-link"><a href="/locations/{{ location.location_id }}">Edit</a></button></td>
            <td><button method="POST" type="button" class="btn btn-danger btn-close" id="deleteButton" onClick="deleteLocation({{ location.location_id }})">
                <span aria-hidden="true">&times;</span>
            </button></td>
            {% endif %}
            </tr>
            <script>
                var time = document.getElementById('time' + {{location.location_id}}).innerHTML;
                var old_date = new Date(time + 'UTC');
                document.getElementById('time' + {{location.location_id}}).innerHTML = old_date.toLocaleString();
            </script>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}