{% extends "base.html" %}
{% block content %}
<!-- <style>
    .container {
        margin-top: 20px; /* Add some top margin for spacing */
    }

    #searchInput {
        width: 100%;
        margin-bottom: 15px;
    }

    .table-dark {
        color: #fff;
    }
</style> -->

<div class="container mt-5">
    <div class="row mb-3">
        <input type="text" id="searchInput" placeholder="Search..." class="form-control">
    </div>

    <div class="table-responsive">
        <table id="myTable" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{location.location_name}}<br> {{location.address}}, {{location.city}}, {{location.state}}</td>
                    <td class="alert{% if location.status == 'Full' %}-success{% elif location.status == 'Half Full' %}-warning{% elif location.status == 'Empty' %}-danger{% else %}-secondary{% endif %}">{{ location.status }}</td>
                    <td id="time{{location.location_id}}">{{ location.time.strftime("%c") }}</td>
                    <td>{{location.name}}</td>
                    {% if user.is_authenticated and location.user_id == user.id %}
                        <td><a href="/poster/0/{{ location.location_id }}" style="color:white;"><button type="button" class="btn btn-warning">Poster</button></a></td>
                        <td><button type="button" class="btn btn-link"><a href="/location/edit/{{ location.location_id }}">Edit</a></button></td>
                        <td><button method="POST" type="button" class="btn btn-danger btn-close" id="deleteButton" onClick="deleteLocation({{ location.location_id }})">
                            <span aria-hidden="true">&times;</span>
                        </button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // JavaScript for search, filtering and sorting
    document.getElementById("searchInput").addEventListener('keyup', function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) { 
            let matchFound = false; 
            for (let j = 0; j < tr[i].cells.length; j++) {
                td = tr[i].cells[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        matchFound = true; 
                        break; 
                    }
                }
            }
            tr[i].style.visibility = matchFound ? "visible" : "collapse"; 
        }
    });
</script>

{% endblock %}
