{% extends "base.html" %}
{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        #myInputContainer {
            position: relative;
            padding: 0 15px 0 15px;
            width: 100%;
            margin-bottom: 20px;
        }
        #myInput {
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 20px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            height:40px;
            margin:0;
            padding-right: 30px;
            /* width: 100%; */
        }
        .sortButtons {
            text-align: left !important;
            font-weight: bold;
            position: relative;
            background-color: #343a40 !important;
            border-color: #343a40 !important;
            box-shadow: none !important;
        }
        .sortButtons:hover, .sortButtons:active .sortButtons:focus, .sortButtons:link, .sortButtons:visited {
            background-color: #343a40 !important;
            border-color: #343a40 !important;
            box-shadow: none !important;
        }
        .sortImg {
            display: block; 
            position: absolute; 
            right: -15px; 
            bottom: 5px;
            width: 25px;
            height: auto; 
        }
        #filterBtn {
            outline: white;
            color: white;
            border: white;
            position:absolute;
            bottom:7px;
            right:25px;
            width:25px;
            height:25px;
        }
        #filterBtn:hover {
            content: url({{url_for('static', filename='filterBlack.png')}});
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10; /* Sit on top */
            padding-top: 250px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content */
            .modal-content {
            background-color: #fefefe;
            color: #383838;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            color: 33, 37, 41;
            font-weight: 400;
            font-family: sans-serif;
            font-size: 16px;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
    <div class="container-fluid">
        <div class="row">
            <div id="statusModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="form-group col-sm-3" id="status-filter">
                            <label for="stat" class="form-label">Status</label>
                            <select class="form-control" id="stat" name="stat" style="color: #383838;">
                                <option selected value="0">All</option>
                                <option value="Full">Full</option>
                                <option value="Half-Full">Half-Full</option>
                                <option value="Empty">Empty</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4" id="org-filter">
                            <label for="org" class="form-label">Organization</label>
                            <select class="form-control" id="org" name="org" style="color: #383838;">
                                <option {% if current_org == 0 %}selected{% endif %} value="0">All</option>
                                {% for org in organizations %}
                                <option {% if current_org == org.id %}selected{% endif %} value="{{org.name}}">{{org.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-3" id="state-filter">
                            <label for="state" class="form-label">State</label>
                            <select class="form-control" id="state" name="state" style="color: #383838;">
                                <option selected value="0">All</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <button id="submit" class="btn btn-primary col-sm-2" style="width: min-content; position:relative; text-align: center;" onclick="filter()">Filter</button>
                        <div class="col-sm-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="myInputContainer">
                <img id="filterBtn" src="{{url_for('static', filename='filterGray.png')}}" alt="" data-toggle="tooltip" data-placement="left" title="Click here to filter!" style="color: black;">
                <input type="text" id="myInput" onkeyup="searchName()" placeholder="Search by name...">
            </div>
        </div>
        <table id="myTable" class="table table-dark table-responsive" data-filter-control="true">
            <thead>
                <tr>
                    <th scope="col"><button class="btn btn-dark btn-block sortButtons" onclick="sortTable('number', 'numberCol')">
                        #<img id= "numberCol" class="sortImg" src="{{url_for('static', filename='whiteSort.png')}}" alt=""></button></th>
                    <th scope="col"><button class="btn btn-dark btn-block sortButtons" onclick="sortTable('location', 'locCol')">
                        Location<img id= "locCol" class="sortImg" src="{{url_for('static', filename='whiteSort.png')}}" alt=""></button></th>
                    <th scope="col"><button class="btn btn-dark btn-block sortButtons" onclick="sortTable('status', 'statCol')">
                        Status<img id= "statCol" class="sortImg" src="{{url_for('static', filename='whiteSort.png')}}" alt=""></button></th>
                    <th scope="col"><button class="btn btn-dark btn-block sortButtons" onclick="sortTable('last updated', 'updateCol')">
                        Last Updated<img id= "updateCol" class="sortImg" src="{{url_for('static', filename='whiteSort.png')}}" alt=""></button></th>
                    <th scope="col" data-filter-control="select"><button class="btn btn-dark btn-block sortButtons" onclick="sortTable('organization', 'orgCol')">
                        Organization<img id= "orgCol" class="sortImg" src="{{url_for('static', filename='whiteSort.png')}}" alt=""></button></th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                <td scope="row">{{ location.location_id }}</td>
                <!-- <td id="location">{{ location.address }} {{ location.city }}, {{ location.state }} {{ location.zip }}</td> -->
                <td id="location">{{location.location_name}}<br> {{location.address}}, {{location.city}}, {{location.state}}</td>
                <td class="alert{% if location.status == 'Full' %}-success{% elif location.status == 'Half Full' %}-warning{% elif location.status == 'Empty' %}-danger{% else %}-secondary{% endif %}">{{ location.status }}</td>
                <td id="time{{location.location_id}}">{{ location.time.strftime("%c") }}</td>
                <td>{{location.name}}</td>
                <td><a href="/logs/{{ location.location_id }}" style="color:white;"><button type="button" class="btn btn-info">Logs</button></a></td>
                <!-- <td><a href="/poster/{{ location.location_id }}" style="color:white;"><button type="button" class="btn btn-warning">Poster</button></a></td> -->
                <!-- <td><a href="/report/{{ location.location_id }}" style="color:white;"><button type="button" class="btn btn-warning">Report</button></a></td> -->
                {% if user.is_authenticated %}
                <td><a href="/poster/0/{{ location.location_id }}" style="color:white;"><button type="button" class="btn btn-warning">Poster</button></a></td>
                <td><button type="button" class="btn btn-link"><a href="/locations/{{ location.location_id }}">Edit</a></button></td>
                <td><button method="POST" type="button" class="btn btn-danger btn-close" id="deleteButton" onClick="deleteLocation({{ location.location_id }})">
                    <span aria-hidden="true">&times;</span>
                </button></td>
                {% endif %}
                </tr>
                <script>
                    var time = document.getElementById('time' + {{location.location_id}}).innerHTML;
                    var old_date = new Date(time + ' UTC');
                    document.getElementById('time' + {{location.location_id}}).innerHTML = old_date.toLocaleString();
                
                    var clickNumber = 0;
                    var lastColNumber = 0;
                    //to search by name
                    function searchName() {
                            var input, filter, table, tr, i;
                        input = document.getElementById("myInput");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("myTable");
                        tr = table.getElementsByTagName("tr");

                        //going through each row and its columns 
                        for (i = 1; i < tr.length; i++) {
                            if (tr[i].textContent.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                    //sort by column 
                    function sortTable(sortType, colID) {
                        // for sorting 
                        var table, rows, switching, i, x, y, shouldSwitch, colNumber;
                        if (sortType === 'number'){
                            colNumber = 0;
                        }
                        else if (sortType === 'location'){
                            colNumber = 1;
                        }
                        else if (sortType === 'status'){
                            colNumber = 2;
                        }
                        else if (sortType === 'last updated'){
                            colNumber = 3;
                        }
                        else if (sortType === 'organization'){
                            colNumber = 4;
                        }

                        if(clickNumber === 3 || colNumber !== lastColNumber){
                            clickNumber = 0; 
                        }
                        clickNumber++;
                        lastColNumber = colNumber;
                        console.log(clickNumber);    

                        table = document.getElementById("myTable");
                        switching = true;
                        /*Make a loop that will continue until
                        no switching has been done:*/
                        while (switching) {
                            for(let i = 0; i < 5; i++){
                                document.getElementsByClassName('sortImg')[i].src = "{{url_for('static', filename='whiteSort.png')}}"; 
                            }
                            switching = false;
                            rows = table.rows;
                            for (i = 1; i < (rows.length - 1); i++) {
                                shouldSwitch = false;
                                x = rows[i].getElementsByTagName("td")[colNumber];
                                y = rows[i + 1].getElementsByTagName("td")[colNumber];
                                if(clickNumber === 1){
                                    document.getElementById(colID).src = "{{url_for('static', filename='whiteSortDown.png')}}"; 
                                    if (!(colNumber === 0 || colNumber === 3) && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                        shouldSwitch = true;
                                        break;
                                    }
                                    else if(colNumber === 0 && +x.innerHTML > +y.innerHTML){
                                        shouldSwitch = true;
                                        break;
                                    }
                                    else if(colNumber == 3 && returnDate(x.innerHTML) > returnDate(y.innerHTML)){
                                        shouldSwitch = true;
                                        break; 
                                    }
                                }
                                else if(clickNumber === 2){
                                    document.getElementById(colID).src = "{{url_for('static', filename='whiteSortUp.png')}}"; 
                                    if (!(colNumber === 0 || colNumber === 3) && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                        shouldSwitch = true;
                                        break;
                                    }
                                    else if(colNumber === 0 && +x.innerHTML < +y.innerHTML){
                                        shouldSwitch = true;
                                        break;
                                    }
                                    else if(colNumber === 3 && returnDate(x.innerHTML) < returnDate(y.innerHTML)){
                                        shouldSwitch = true;
                                        break; 
                                    }
                                }
                                else{
                                    document.getElementById(colID).src = "{{url_for('static', filename='whiteSort.png')}}"; 
                                    x = rows[i].getElementsByTagName("td")[0];
                                    y = rows[i + 1].getElementsByTagName("td")[0];
                                    if(+x.innerHTML > +y.innerHTML){
                                        shouldSwitch = true;
                                        break;
                                    }
                                }
                            }
                            if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                            }
                        }
                    }

                    function returnDate(numbers){
                        var split, date, result; 
                        split = [];
                        // 0 = year, 1 = month, 2 = day, 3 = date as one int, 4 = time, 5 = am/pm 
                        numbers = numbers.replaceAll(':', '');
                        numbers = numbers.replaceAll(',', '');
                        date = numbers.substring(0, numbers.indexOf(' '));
                        split[0] = date.substring(date.length - 4);
                        split[1] = date.substring(0, date.indexOf('/'));
                        split[2] = date.substring(date.indexOf('/') + 1, date.length - 5);
                        //putting the date back together 
                        split[3] = split[0];
                        if (split[1].length < 2){
                            split[3] += '0' + split[1];
                        }
                        else{
                            split[3] += split[1];
                        }
                        if (split[2].length < 2){
                            split[3] += '0' + split[2];
                        }
                        else{
                            split[3] += split[2];
                        }
                        split[4] = numbers.substring(numbers.indexOf(' ') + 1, numbers.indexOf('M') - 2);
                        if(split[4].length < 6){
                            split[4] = '0' + split[4];
                        }
                        split[5] = numbers.substring(numbers.indexOf('M') - 1);

                        //converting to military time to help after in sorting 
                        if(split[5] === 'PM'){
                            split[4] = +split[4] + 120000;
                        }

                        result = split[3] + split[4];
                        return result; 
                    }                    

                    { //the filter modal 
                        var modal = document.getElementById("statusModal");
                        var btn = document.getElementById("filterBtn");
                        var span = document.getElementsByClassName("close")[0];
                        btn.onclick = function() {
                            modal.style.display = "block";
                        }
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                        $(document).on('keydown', function(event) {
                            if (event.key == "Escape") {
                                modal.style.display = "none";
                            }
                        });
                        // for pop up
                        $(document).ready(function(){
                            $('[data-toggle="tooltip"]').tooltip();   
                        });
                    }
                    //filtering
                    filter(); 
                    function filter() {
                        modal.style.display = "none";
                        var table, tr, i, txtValue;
                        var td, filters;
                        table = document.getElementById("myTable");
                        tr = table.getElementsByTagName("tr");
                        filters = [];
                        filters[0] = document.getElementById("org").value;
                        filters[1] = document.getElementById("state").value; 
                        filters[2] = document.getElementById("stat").value;

                        //going through each row and its columns 
                        for (i = 1; i < tr.length; i++) {
                            td = [];
                            txtValue = true;
                            for(let j = 0; j < 5; j++){
                                td[j] = tr[i].getElementsByTagName("td")[j];
                            }
                            if (td[0] && td[1] && td[2] && td[3] && td[4]) {
                                if(filters.every((val, i, arr) => val == 0)){
                                    txtValue = true; 
                                }
                                txtValue &&= td[1].textContent.indexOf(filters[1]) > -1 || filters[1] == 0;
                                txtValue &&= td[2].textContent.indexOf(filters[2]) == 0 || filters[2] == 0;  
                                txtValue &&= td[4].textContent.indexOf(filters[0]) > -1 || filters[0] == 0;
                            }

                            if (txtValue) {
                                tr[i].style.display = "";
                            } 
                            else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                </script>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}