{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row mb-3">
        <input type="text" id="searchInput" placeholder="Search..." class="form-control" data-search-on-enter-key="false">
    </div>
    <div class="table-responsive">
        <table
            id="myTable"
            data-toggle="table"
            data-search="true"
            data-search-selector="#searchInput"
            data-show-columns-toggle-all="true"
            data-sort-name="time"
            data-sort-order="desc"
            class="table table-dark table-hover">
            <thead>
                <tr>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th data-field="time" data-sortable="true" data-formatter="timeFormatter">Last Updated</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    <tr>
                        <td>
                            <p>{{ location.location_name }}
                                <span class="badge badge-{{ 'success' if location.status == 'Full' else ('warning' if location.status == 'Half Full' else 'danger') }}">{{ location.status }}</span><br>{{ location.address }}, {{ location.city }}, {{ location.state }}</p> 
                        </td>
                        <td>{{ location.time.timestamp() | tojson }}</td> 
                        <td> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#locationModal{{ location.location_id }}">Details</button>
                        </td>
                        
                        <div class="modal fade" id="locationModal{{ location.location_id }}" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel{{ location.location_id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="locationModalLabel{{ location.location_id }}">{{ location.location_name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Address:</strong> {{ location.address }}, {{ location.city }}, {{ location.state }}</p>
                                        <p><strong>Status:</strong> <span class="badge badge-{{ 'success' if location.status == 'Full' else ('warning' if location.status == 'Half Full' else 'danger') }}">{{ location.status }}</span></p>
                                        <p>Last Updated: {{ location.time.strftime("%c") }}</p>
                                            <a href="/location/{{ location.location_id }}" class="btn btn-info">View More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    // Formatter functions
    function timeFormatter(value, row, index) {
        const now = new Date();
        const updatedAt = new Date(value * 1000); // Convert timestamp to milliseconds

        const secondsAgo = Math.round((now - updatedAt) / 1000);
        const minutesAgo = Math.round(secondsAgo / 60);
        const hoursAgo = Math.round(minutesAgo / 60);

        if (hoursAgo < 1) {
            return minutesAgo + " minute" + (minutesAgo > 1 ? "s" : "") + " ago";
        } else if (hoursAgo < 24) {
            return hoursAgo + " hour" + (hoursAgo > 1 ? "s" : "") + " ago";
        } else {
            return updatedAt.toLocaleDateString(); // Fallback to date if older
        }
    }
   
</script>


{% endblock %}
