{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block content %}
    <div class="card-columns">
        <!-- <div class="card">
        <img class="card-img-top" src="{{url_for('static', filename='yair.jpg') }}" alt="Yair Gritzman">
        <div class="card-body">
            <h5 class="card-title">Yair Gritzman</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div> -->
        <div class="card">
        <img class="card-img-top" src="{{url_for('static', filename='noah.jpg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Noah Rubin</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='jonathan.jpeg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Jonathan Hus</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='yair3.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Yair Gritzman</h5>
                <p class="card-text">Website Design and Production Team.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='rebbeca.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rebecca Levy</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='zac.jpeg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Zac</h5>
                <p class="card-text">Website Design and Production Team.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='eva.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Eva Gottesfeld</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='adam.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Adam Sobel</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='IMG_2629.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Leo</h5>
                <p class="card-text">Advertisment Team.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='matthew.jpeg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Matthew</h5>
                <p class="card-text">Advertisment Team.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='aaron.jpeg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Aaron</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='isaac.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Isaac Berkower</h5>
                <p class="card-text">Website Design and Production Team.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='sam.jpeg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sam</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='hunter.jpeg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Hunter</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
{% endblock %}