.jumbotron {
    border-radius: 0px;
    color:white;
    background-color: #2B4E72;
    /* background-image: url("../static/bg2.jpg"); */
    background-size: contain;
    
}

form {
    margin:10px 60px;
}

/* img {
    width: auto;
} */

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; top: 50%;
    transform: translateY(-50%);}

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.sticky{
    position: fixed; 
    bottom:10px; 
    right: 10px;
    padding: 15px;
    color: white;
    border-radius: 20px;
    /* border: solid .1em #2B4E72; */
    background-color: #ad4052;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
a.sticky:hover{
    text-decoration: none;
    color: white;
    background-color: #c55b6d;

}

.report-button {
    width: 55%;
    margin-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit:cover;
}

@media (max-width: 576px) {
    .card-img-top {
        height: 100vw;
    }
}

/* #org-filter {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
} */
#gmailAndMedia #gmail {
    display: flex;
    align-items: center;
    /* border: solid .1em white; */
    padding-right: 5px;
}

#gmail {
  color: white;
}

#gmail:hover {
  color: rgba(255,255,255,.5);
}

#navbarCSS {
    /* background: #2B4E72; */
    padding: 0px;
    /* padding-left: 30px;
    padding-right: 30px; */
    background-color: white;
    width: 100%;
    /* position: relative; */
    /* border: solid .1em white; */
}

#navbarCSS #gmailAndMedia {
    display: flex;
    align-items: center;
    /* border: solid .1em white; */
}

#gmailAndMedia #media {
    display: flex;
    align-items: center;
}

#navbarCSS #navbarButtons {
    display: flex;
    align-items: center;   
}

#aboveNavBar {
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: white;
  }
  
  #logo {
    width: 50px;
    object-fit: contain;
  }
  
  #description {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #2B4E72;
    margin: 0px;
    text-align: start;
  }
  
  #nameAndDescription {
    padding: 20px;
  }
  
  #site-name {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    font-family: Calibri, sans-serif, arial, 'Trebuchet MS';
    font-weight: lighter;
    width: max-content;
    display: inline-block;
    background-color: white;
    color: #2B4E72;
  }

  #belowNavbar {
      /* background-color: #2B4E72; */
      background-color: #353432;
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
  }

  #homeLogo {
    width: 50px;
    object-fit: contain;
    display: flex;
    align-items: center;
  }

  #spaceFilling {
      padding: 52px;
  }

  #pantryPic {
    object-position: top;
    height: 390px;
    /* width: 100%; */
    padding: 0px;
    object-fit: cover;
    opacity: .5;
  }
  
  #topPic {
    /* margin-top: 124px; */
    /* aiugdhfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */
    position: relative;
    text-align: center;
    color: #2B4E72;
  }

  .spacer {
    width: 100%;
    margin-top: 100px;
  }

  .spacertwo {
    width: 100%;
    margin-top: 8px;
  }
  
  #homeText {
    padding-top: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
  }

  #topPic, #homeText {
      display: flex;
      align-items: center;
  }

  
#whatPantryOrgTitle{
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  #whatPantryOrgParagraph {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 19px;
    color: white;
    background-color:#2B4E72;
    line-height: 25px;
    /* padding-right: 20px; */
    padding-top: 10px;
  }
  
  #whatPantryTitleAndParagraph #whatPantryOrgTitle{
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    color: white;
  }
  
  #whatPantryTitleAndParagraph #whatPantryOrgParagraph {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
    line-height: 25px;
  }
  
  #whatPantryParagraphAndPic {
    display: flex;
    justify-content: center;
  }
  
  #whatPantryOrgPic {
    width: 100%;
  }
  
  #whatPantryTitleAndParagraph {
      background-color: #2B4E72;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-right: 20px;
      padding-left: 20px;
  }

  #whatPantryTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #2B4E72;
    border: solid .1em white;
  }
  
  #whatPantryParagraph {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #2B4E72;
    line-height: 25px;
    font-size: 19px;
    padding-top: 10px;
  }
  
  #whatIsPantry {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
  }

  #picRowHome {
      background-color: #2B4E72;
      padding: 40px;
      object-fit: cover;
  }


#howHelp {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #2B4E72;
    padding-top: 70px;
}

#howToReport {
  background-color: #2B4E72;
  font-family: Helvetica, sans-serif;
  color: white;
  padding: 50px;
  margin-top: 0px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#bottomInstructions {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 19px;
}

#instructionsListRight {
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
}

#instructionsListLeft {
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
}

#bottomHomeLinks {
    border: 1.5px solid white;
    border-radius: 15px;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 19px;
}

#bottomHomeLinks:hover {
    /* color: rgba(255,255,255,.5);
    border: 1.5px solid rgba(255,255,255,.5); */
    text-decoration: none;
    background-color: white;
    color:#2B4E72;
}

#mobileNavbar {
  background-color: #353432;
}

.card-title {
  display: flex;
  justify-content: center;
}

#instructions {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

#allInstructions {
  padding: 15px !important; 
}

#instructionsTitle {
  padding-right: 20px !important; 
  padding-left: 20px !important; 
}