body {
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.jumbotron {
    border-radius: 0px;
    color:white;
    background-color: #2B4E72;
    /* background-image: url("../static/bg2.jpg"); */
    background-size: contain;
    
}

form {
    margin:10px 60px;
}

img {
    width: auto;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; top: 50%;
    transform: translateY(-50%);}

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.sticky{
    position: fixed; 
    bottom:10px; 
    right: 10px;
    padding: 20px;
    color: black;
    border-radius: 20px;
    background-color: rgb(54, 172, 24);
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}
a.sticky:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(152, 226, 134);

}

.report-buttons {
    width: 55%;
}