<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@348&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DQN0CT53NR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DQN0CT53NR');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #353432;"> 
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='rtp_logo.png') }}" alt="Report That Pantry Logo" width="50" height="50" class="d-inline-block align-top mr-2">
            Report That Pantry
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item {% if title == 'Home' %}active{% endif %}">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {% if title == 'Status' %}active{% endif %}">
              <a class="nav-link" href="/status">Status</a>
            </li>
            <!-- <li class="nav-item {% if title == 'Contact Us' %}active{% endif %}">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li> -->
            {% if user.user_type == "owner" %}
              <li class="nav-item {% if title == 'Add Location' %}active{% endif %}">
                <a class="nav-link" href="/location/add">Add Location</a>
              </li>
            {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item {% if title == 'Manage Profile' %}active{% endif %}">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item {% if title == 'Logout' %}active{% endif %}">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            {% else %}
              <li class="nav-item {% if title == 'Login' %}active{% endif %}">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item {% if title == 'Sign Up' %}active{% endif %}">
                <a class="nav-link" href="/sign-up">Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="content-area"> {% block content %} {% endblock %}</div>

    <footer class="footer mt-5">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h3>Contact Us</h3>
                  <p><a href="mailto:info@reportthatpantry.org">info@reportthatpantry.org</a></p>
              </div>
              <div class="col-md-6 text-md-right">
                  <h3>Quick Links</h3>
                  <ul class="list-unstyled">
                      <li><a href="/">Home</a></li>
                      <li><a href="/status">Status</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/contactus">Contact Us</a></li>
                  </ul>
              </div>
          </div>
          <div class="row">
              <div class="col-12 text-center">
                <p>&copy; 2024 Report That Pantry. All rights reserved.</p>
                <div class="social-media">
                  <p class="mb-0">Follow us on Facebook for updates and to join our community!</p>
                  <a href="https://www.facebook.com/reportthatpantry" target="_blank" class="btn btn-link">
                    <i class="fab fa-facebook-f fa-2x"></i>
                  </a>
                  </div>
              </div>
      </div>
  </footer>
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    
    
    {% block script %}{% endblock %}
</body>
</html>
