<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@348&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DQN0CT53NR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DQN0CT53NR');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #353432;"> 
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='rtp_logo.png') }}" alt="Report That Pantry Logo" width="50" height="50" class="d-inline-block align-top mr-2">
            Report That Pantry
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item {% if title == 'Home' %}active{% endif %}">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {% if title == 'Status' %}active{% endif %}">
              <a class="nav-link" href="/status">Status</a>
            </li>
            <!-- <li class="nav-item {% if title == 'Team' %}active{% endif %}">
              <a class="nav-link" href="/team">Team</a>
            </li> -->
            {% if user.is_authenticated %}
              <li class="nav-item {% if title == 'Locations' %}active{% endif %}">
                <a class="nav-link" href="/location/add">Add Location</a>
              </li>
              <li class="nav-item {% if title == 'Manage Notifications' %}active{% endif %}">
                <a class="nav-link" href="/notifications">Manage Notifications</a>
              </li>
              <li class="nav-item {% if title == 'Logout' %}active{% endif %}">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            {% else %}
              <li class="nav-item {% if title == 'Login' %}active{% endif %}">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item {% if title == 'Sign Up' %}active{% endif %}">
                <a class="nav-link" href="/sign-up">Sign Up</a>
              </li>
            {% endif %}
            <li class="nav-item {% if title == 'Contact Us' %}active{% endif %}">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
            <!-- <li class="nav-item {% if title == 'Setup' %}active{% endif %}">
              <a class="nav-link" href="/setup">Setup</a>
            </li> -->
          </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %} 

    <div class="content-area"> {% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    
    
    {% block script %}{% endblock %}
</body>
</html>
