{% extends "base.html" %}
{% block content %}
<style>
    .content-area {
        margin-top: 0px;
    }
    
</style>
    <!-- Table -->
    <div class="container-fluid text-center w-100">

        <div id="topPic" class="row">
            <img class="w-100 d-flex align-items-center" src="{{url_for('static', filename='whiteLFP.png') }}" id="pantryPic"> 
            <!-- CREDIT: COURTESY OF CORRI BIESEMEYER -->
            <p id="homeText">Report That Pantry</p>
        </div>

        <div id="whatPantryTitleAndParagraph" class="row d-flex justify-content-center align-items-center">
            <div id="whatPantryTitleAndParagraph" class="col-md-6 d-flex align-self-center flex-column align-items-center">
                <h1 class="d-flex justify-content-center align-items-center" id="whatPantryOrgTitle">About Us</h1>
                <p class="d-flex justify-content-center" id="whatPantryOrgParagraph">Report That Pantry is a Nonprofit organization dedicated to helping little free pantries restock their shelves faster. The technology consists of QR codes placed on the front of each pantry that connects to our website. Users can scan the QR code and report the level of food inside each pantry, allowing community members to check our website to find out when a pantry needs restocking.
                    <br><br>Interested in joining the movement?
                </p>
                <a href="{{url_for('auth.sign_up')}}" class="btn btn-success w-25">Sign Up</a>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IlDt7YsQ8qo?si=BpTZmuy756t88q7B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <!-- <div class="col-md-6 d-flex align-items-center">
                <img src="{{url_for('static', filename='us_with_DK_pantry.jpeg') }}" id="whatPantryOrgPic">
            </div> -->
        </div>

        <h1 id="howHelp" class="text-center">How to Help!</h1>
        <div class="container" id="bottomInstructions">
            <div class="row">
                <div class="col" id="howToReport">
                    <h3>Fill Up a Pantry</h3>
                    <ol id="instructionsListLeft">
                        <li id="instructionsList2">Subscribe for email notifications on a pantry's homepage to know when a pantry is empty</li>
                        <li id="instructionsList2">Purchase/gather non-perishables</li>
                        <li id="instructionsList2">Stop by one of the pantries - any day, any time</li>
                        <li id="instructionsList2">Pull into a safe parking spot and fill the pantry</li>
                    </ol>
                    <a id="bottomHomeLinks" target="_blank" href="http://mapping.littlefreepantry.org/">Locations</a>
                </div>
                <div class="col" id="howToReport">
                    <h3>Report a Pantry</h3>
                    <ol id="instructionsListRight">
                        <li id="instructionsList2">Scan the QR code on the pantry</li>
                        <li id="instructionsList2">Report whether the pantry is full, half full, or empty.</li>
                        <li id="instructionsList2">Add a description or a photo of the pantry to make sure the community get the best information.</li>
                    </ol>
                    <a id="bottomHomeLinks" href="/status">Status</a>
                </div>
            </div>
        </div>

        <div id="whatIsPantry" class="container text-center">
            <h1 id="whatPantryTitle" class="text-center">What are Little Free Pantries?</h1>
            <p id="whatPantryParagraph">Little Free Pantries are free self-serve food pantries located in high traffic areas around the world. The model is simple, those who can afford leave food and those in need take - no questions asked. Report That Pantry makes it easy for pantry stewards and users to keep track of the contents in these pantries.</p>
        </div>

    
        <div class="row" id="picRowHome">

            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail">
                    <img style="width: 100%; height: 100%;" class="img-responsive" src="{{url_for('static', filename='setuppantry.jpeg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail">
                    <img style="width: 100%; height: 100%;" class="img-responsive" src="{{url_for('static', filename='woodLFP.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail">
                    <img style="width: 100%; height: 100%;" class="img-responsive" src="{{url_for('static', filename='blueLFP.png') }}" alt="">
                </a>
            </div>
        </div>

    </div>
    {% if (title == "Home") %}
    <a href="/status" class="sticky">Check The Status of Pantries</a>
    {% endif %}
</body>
    </html>
{% endblock %}