{% extends "base.html" %}
{% block content %}

<style>
    .content-area {
        margin-top: 0px;
    }
    
    .hero {
        background-color: #2B4E72;
        color: white;
        padding: 3rem 1.5rem;
        text-align: center;
    }
    .hero h1, .hero p {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    }

    .feature-section {
        padding: 3rem 0;
        background-color: #f8f9fa; /* Light background for contrast */
    }

    .feature-icon {
        font-size: 3rem;
        color: #2B4E72; 
    }

    /* Additional styling for readability */
    .mission-section {
        padding: 2rem;
        background-color: #fff; /* White background for content sections */
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    }

    .mission-section h2 {
        color: #2B4E72;
    }

    .testimonial {
        background-color: #fff;
        color: #2B4E72; 
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

    .testimonial .quote-icon {
        font-size: 2rem;
        margin-bottom: 1rem;
    }


    @media(min-width: 768px) {
        .testimonial {
            width: 75%;
        }
    }



</style>

<div class="container mt-5">
    <section class="jumbotron text-white" style="background-color: #2B4E72; padding: 3rem; margin-bottom: 3rem;">
        <div class="row">
            <div class="col-md-6 order-md-1 d-flex flex-column justify-content-center align-items-center mb-3">
                <h1 class="display-4 mb-4">Report That Pantry</h1>
                <p class="lead mb-4 text-left">Connecting Communities to Fight Food Insecurity</p>
                <div class="testimonial"> 
                    <i class="fas fa-quote-left quote-icon"></i>
                    <p>"Report That Pantry has been a game-changer for my Little Free Pantry. Now I know exactly when to restock, and I've connected with so many wonderful volunteers!"</p>
                    <footer class="blockquote-footer">Sarah, Pantry Steward</footer>
                </div>
            </div>
            <div class="col-md-6 order-md-2 embed-responsive embed-responsive-16by9 d-flex justify-content-center align-items-center">
                <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/IlDt7YsQ8qo" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="d-flex justify-content-center flex-wrap mt-3">
            <a href="/map" class="btn btn-warning btn-lg mr-md-3">Check Status Now</a> 
        </div>
    </section>



    <section class="call-to-action text-center py-5">
        <div class="container">
            <h2>Ready to Make a Difference?</h2>
            <p class="lead">
                Sign up today!
            </p>
            <div class="d-flex flex-column flex-md-row justify-content-center">
                <a href="/sign-up" class="btn btn-primary btn-lg">Register Now</a>
            </div>
        </div>
    </section>
    

    <section class="feature-section">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-search feature-icon mb-3"></i>
                <h3>Find a Pantry</h3>
                <p>Easily locate Little Free Pantries near you that are stocked and ready to help.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-hand-holding-heart feature-icon mb-3"></i>
                <h3>Report a Pantry</h3>
                <p>Share the status of a pantry you encounter to help others know where to find resources.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-users feature-icon mb-3"></i>
                <h3>Join the Community</h3>
                <p>Become a pantry steward, volunteer, or simply spread the word about our mission.</p>
            </div>
        </div>
    </section>
    <section class="mission-section mb-4">
        <h2>Our Mission</h2>
        <p>Report That Pantry is a student-run organization dedicated to connecting communities and fighting food insecurity through Little Free Pantries. We empower pantry stewards with real-time information and tools, while making it easier for volunteers and those in need to find and support these vital community resources.</p>
    </section>
    <section class="mission-section mb-4">
        <h2>What is a Little Free Pantry?</h2>
        <p>Little Free Pantries are small, often homemade boxes where people can leave non-perishable food items and hygiene products for their neighbors in need. They operate on the honor system, with anyone free to take what they need or leave what they can.  Report That Pantry makes it easy for pantry stewards and users to keep track of the contents in these pantries.</p>
    </section>
</div>

{% endblock %}
