{% extends "base.html" %}
{% block content %}
<style>
    #subscribeForm {
        margin: 0px;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ location.name }}</h2>
                    <h3>Pantry Details</h3>
                    <p><strong>Address: </strong>{{ location.address }}, {{ location.city }}, {{ location.state }}</p>
                    {% if user.is_authenticated %}
                    <form id="subscribeForm" method="POST" action="{{ url_for('views.subscribe_location', location_id=location.id) }}">
                            <button type="submit" id="subscribeBtn" class="btn btn-{{ 'danger' if location.id in subscribed_locations else 'success' }} btn-block mb-3">
                                {% if location.id in subscribed_locations %}
                                    Unsubscribe
                                {% else %}
                                    Subscribe
                                {% endif %}
                            </button>
                        </form>
                    {% else %}
                        <a href="/login" class="btn btn-success btn-block mb-3">Log In to Subscribe</a>
                    {% endif %}
        
                    <a href="/report/{{ location.id }}" class="btn btn-info btn-block mb-3">Report Status</a>
                    {% if user.id == location.user_id %}
                        <a href="/location/edit/{{ location.id }}" class="btn btn-warning btn-block mb-3">Edit Location</a>
                        <a href="{{url_for('views.poster', isNew1=1, id=location.id) }}" class="btn btn-dark btn-block mb-3">Print Poster</a>
                    {% endif %}
                    <a href="https://www.google.com/maps/search/?api=1&query={{ location.address|urlencode }},{{ location.city|urlencode }},{{ location.state|urlencode }}" class="btn btn-secondary btn-block mb-3" target="_blank">
                        Get Directions
                    </a>
                    {% if location.photo %}
                        <img src="{{ current_app.config['S3_LOCATION'] + location.photo }}" class="img-fluid mb-3" alt="Pantry Profile Picture">
                    {% endif %}
                    <h3>Contact Information</h3>
                    {% if location.contact_info %} 
                        <p>{{ location.contact_info }}</p>
                    {% else %}
                        <p>No contact information available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3>Report History</h3>
                    <ul class="list-group">
                        {% for report in location.reports | reverse %}
                            <li class="list-group-item">
                                <span class="badge badge-{{ 'success' if report.pantry_fullness > 66 else ('warning' if report.pantry_fullness > 33 else 'danger') }}">
                                    {{ report.pantry_fullness }}% ({{ 'Full' if report.pantry_fullness > 66 else ('Half Full' if report.pantry_fullness > 33 else 'Empty') }})
                                </span>     <span id="time{{report.id}}">{{ report.time.timestamp() | tojson }}</span>
                                {% if report.photo %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#photoModal{{ report.id }}">
                                    View Photo
                                </button>
                                {% endif %}
                                {% if report.description %}
                                    <br><small>{{ report.description }}</small>
                                {% endif %}
                            </li>
                            {% if report.photo %}  
                                <div class="modal fade" id="photoModal{{ report.id }}" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel{{ report.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"> 
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ current_app.config['S3_LOCATION'] + report.photo }}" class="img-fluid mb-3" alt="Latest photo of the pantry">

                                                <!-- <img src="{{ url_for('views.uploaded_file', location_id=report.location_id, filename=report.photo) }}" class="img-fluid" alt="Report Photo"> -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
