{% extends "base.html" %}
{% block content %}

<style>
    .container {
        margin-top: 20px; 
    }

    #searchInput {
        width: 100%;
        margin-bottom: 15px;
    }
</style>

<div class="container mt-5">
    <div class="row mb-3">
        <input type="text" id="searchInput" placeholder="Search..." class="form-control" data-search-on-enter-key="false">
    </div>
    <div class="table-responsive">
        <table
            id="myTable"
            data-toggle="table"
            data-search="true"
            data-search-selector="#searchInput"
            data-show-columns-toggle-all="true"
            data-sort-name="time"
            data-sort-order="desc"
            data-pagination="true"
            class="table table-dark table-hover">
            <thead>
                <tr>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th data-field="time" data-sortable="true" data-formatter="timeFormatter">Last Updated</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    {% set latest_report = location.reports[-1] %} 
                    {% if latest_report %}
                    <tr>
                        <td>
                            <p>{{ location.name }}
                                <span class="badge badge-{{ 'success' if latest_report.pantry_fullness > 66 else ('warning' if latest_report.pantry_fullness > 33 else 'danger') }}">{{ latest_report.pantry_fullness }}% ({{ 'Full' if latest_report.pantry_fullness > 66 else ('Half Full' if latest_report.pantry_fullness > 33 else 'Empty') }})</span><br>{{ location.address }}, {{ location.city }}, {{ location.state }}</p> 
                        </td>
                        <td>{{ latest_report.time.timestamp() | tojson }}</td> 
                        <td> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#locationModal{{ location.id }}">Details</button></td>
                        
                        <div class="modal fade" id="locationModal{{ location.id }}" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel{{ location.id }}" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="locationModalLabel{{ location.id }}">{{ location.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Address:</strong> {{ location.address }}, {{ location.city }}, {{ location.state }}</p>
                                        <p><strong>Status:</strong> <span class="badge badge-{{ 'success' if latest_report.pantry_fullness > 66 else ('warning' if latest_report.pantry_fullness > 33 else 'danger') }}">{{ latest_report.pantry_fullness }}% ({{ 'Full' if latest_report.pantry_fullness > 66 else ('Half Full' if latest_report.pantry_fullness > 33 else 'Empty') }})</span></p>
                                        {% if latest_report.description %}
                                        <p><strong>Notes:</strong> {{ latest_report.description }}</p>
                                        {% endif %}
                                        <p><strong>Last Updated:</strong> <span id="time{{location.id}}">{{ latest_report.time.timestamp() | tojson }}</span></p>
                                        {% if latest_report.photo %}
                                        <img src="{{ latest_report.get_photo_url() }}" class="img-fluid mb-3" alt="Latest photo of the pantry">
                                        {% else %}
                                            <p>No photo available.</p>
                                        {% endif %}
                                        {% if user.is_authenticated %}
                                        <button id="subscribeButton{{ location.id }}" type="button" class="btn {% if location.id in subscribed_locations %}btn-danger{% else %}btn-success{% endif %}" onclick="toggleSubscription({{ location.id }})">
                                            {% if location.id in subscribed_locations %}
                                                Unsubscribe
                                            {% else %}
                                                Subscribe
                                            {% endif %}
                                        </button>
                                        {% else %}
                                        <a href="/login" class="btn btn-success">Log In to Subscribe</a>
                                        {% endif %}
                                        <a href="/location/{{ location.id }}" class="btn btn-info">View More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // // Formatter functions
    // function timeFormatter(value, row, index) {
    //     const now = new Date();
    //     const updatedAt = new Date(value * 1000); // Convert timestamp to milliseconds

    //     // Get user's timezone offset (in minutes)
    //     const timezoneOffset = new Date().getTimezoneOffset();

    //     // Adjust updatedAt to user's timezone
    //     updatedAt.setMinutes(updatedAt.getMinutes() - timezoneOffset);

    //     const secondsAgo = Math.round((now - updatedAt) / 1000);
    //     const minutesAgo = Math.round(secondsAgo / 60);
    //     const hoursAgo = Math.round(minutesAgo / 60);

    //     if (hoursAgo < 1) {
    //         return minutesAgo + " minute" + (minutesAgo > 1 ? "s" : "") + " ago";
    //     } else if (hoursAgo < 24) {
    //         return hoursAgo + " hour" + (hoursAgo > 1 ? "s" : "") + " ago";
    //     } else {
    //         return updatedAt.toLocaleDateString(); // Fallback to date if older
    //     }
    // }


    function toggleSubscription(locationId) {
    const button = document.getElementById(`subscribeButton${locationId}`);
    const currentStatus = button.innerText.trim().toLowerCase();

    fetch('/subscribe', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: 'location_id=' + locationId
    })
        .then(response => response.json())
        .then(data => {
        if (data.status === 'subscribed') {
            button.innerText = 'Unsubscribe';
            button.classList.remove("btn-success");
            button.classList.add("btn-danger");
            // alert(data.message);
        } else if (data.status === 'unsubscribed') {
            button.innerText = 'Subscribe';
            button.classList.remove("btn-danger");
            button.classList.add("btn-success");
            // alert(data.message);
        } else {
            alert("Error subscribing/unsubscribing");
        }
        })
        .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while processing your request.');
        });
    }
</script>

{% endblock %}
