{% extends "base.html" %}
{% block style %}
<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>  -->
{% endblock %}

{% block content %}

<style>
    .container {
        margin-top: 20px; 
    }

    #searchInput {
        width: 100%;
        margin-bottom: 15px;
    }
</style>

<div class="container mt-5">
    <div class="row mb-3">
        <input type="text" id="searchInput" placeholder="Search..." class="form-control" data-search-on-enter-key="false">
    </div>
    <div class="table-responsive">
        <table
            id="myTable"
            data-toggle="table"
            data-search="true"
            data-search-selector="#searchInput"
            data-show-columns-toggle-all="true"
            data-sort-name="time"
            data-sort-order="desc"
            data-pagination="true"
            class="table table-dark table-hover">
            <thead>
                <tr>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th data-field="time" data-sortable="true" data-formatter="timeFormatter">Last Updated</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    {% set latest_report = location.reports[-1] %} 
                    {% if latest_report %}
                    <tr>
                        <td>
                            <p>{{ location.name }}
                                <span class="badge badge-{{ 'success' if latest_report.pantry_fullness > 66 else ('warning' if latest_report.pantry_fullness > 33 else 'danger') }}">{{ latest_report.pantry_fullness }}% ({{ 'Full' if latest_report.pantry_fullness > 66 else ('Half Full' if latest_report.pantry_fullness > 33 else 'Empty') }})</span><br>{{ location.address }}, {{ location.city }}, {{ location.state }}</p> 
                        </td>
                        <td>{{ latest_report.time.timestamp() | tojson }}</td> 
                        <!-- <td> <button type="button" class="btn btn-info">Details</button></td> -->
                        <td><a href="/location/{{location.id}}" class="btn btn-info">Details</a></td>
                        <!-- {% if latest_report.photo %}  
                                <div class="modal fade" id="locationModal{{ location.id }}" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel{{ latest_report.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"> 
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{{ url_for('views.uploaded_file', location_id=latest_report.location_id, filename=latest_report.photo) }}" class="img-fluid mb-3" alt="Latest photo of the pantry">                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %} -->
                        <!-- <div class="modal fade" id="locationModal{{ location.id }}" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel{{ location.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="locationModalLabel{{ location.id }}">{{ location.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Address:</strong> {{ location.address }}, {{ location.city }}, {{ location.state }}</p>
                                        <p><strong>Status:</strong> <span class="badge badge-{{ 'success' if latest_report.pantry_fullness > 66 else ('warning' if latest_report.pantry_fullness > 33 else 'danger') }}">{{ latest_report.pantry_fullness }}% ({{ 'Full' if latest_report.pantry_fullness > 66 else ('Half Full' if latest_report.pantry_fullness > 33 else 'Empty') }})</span></p>
                                        {% if latest_report.description %}
                                        <p><strong>Notes:</strong> {{ latest_report.description }}</p>
                                        {% endif %}
                                        <p><strong>Last Updated:</strong> <span id="time{{location.id}}">{{ latest_report.time.timestamp() | tojson }}</span></p>
                                        {% if latest_report.photo %}
                                        <img src="{{ latest_report.get_photo_url() }}" class="img-fluid mb-3" alt="Latest photo of the pantry">
                                        {% else %}
                                            <p>No photo available.</p>
                                        {% endif %}
                                        {% if user.is_authenticated %}
                                        <button id="subscribeButton{{ location.id }}" type="button" class="btn {% if location.id in subscribed_locations %}btn-danger{% else %}btn-success{% endif %}" onclick="toggleSubscription({{ location.id }})">
                                            {% if location.id in subscribed_locations %}
                                                Unsubscribe
                                            {% else %}
                                                Subscribe
                                            {% endif %}
                                        </button>
                                        {% else %}
                                        <a href="/login" class="btn btn-success">Log In to Subscribe</a>
                                        {% endif %}
                                        <a href="/location/{{ location.id }}" class="btn btn-info">View More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>        -->
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
{% block script %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>  
{% endblock %}
