{% extends "base.html" %}
{% block content %}

<style>
    .container {
        margin-top: 20px; 
    }

    #searchInput {
        width: 100%;
        margin-bottom: 15px;
    }
</style>

<div class="container mt-5">
    <div class="row mb-3">
        <input type="text" id="searchInput" placeholder="Search..." class="form-control" data-search-on-enter-key="false">
    </div>
    <div class="table-responsive">
        <table
            id="myTable"
            data-toggle="table"
            data-search="true"
            data-search-selector="#searchInput"
            data-show-columns-toggle-all="true"
            data-sort-name="time"
            data-sort-order="desc"
            class="table table-dark table-hover">
            <thead>
                <tr>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th data-field="time" data-sortable="true" data-formatter="timeFormatter">Last Updated</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    {% set latest_report = location[0].reports[-1] %} 
                    {% if latest_report == location[1] %}
                    <tr>
                        <td>
                            <p>{{ location[0].name }}
                                <span class="badge badge-{{ 'success' if latest_report.pantry_fullness > 66 else ('warning' if latest_report.pantry_fullness > 33 else 'danger') }}">{{ latest_report.pantry_fullness }}% ({{ 'Full' if latest_report.pantry_fullness > 66 else ('Half Full' if latest_report.pantry_fullness > 33 else 'Empty') }})</span><br>{{ location[0].address }}, {{ location[0].city }}, {{ location[0].state }}</p> 
                        </td>
                        <td>{{ latest_report.time.timestamp() | tojson }}</td> 
                        <td> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#locationModal{{ location[0].id }}">Details</button></td>
                        
                        <div class="modal fade" id="locationModal{{ location[0].id }}" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel{{ location[0].id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="locationModalLabel{{ location[0].id }}">{{ location[0].name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Address:</strong> {{ location[0].address }}, {{ location[0].city }}, {{ location[0].state }}</p>
                                        <p><strong>Status:</strong> <span class="badge badge-{{ 'success' if latest_report.pantry_fullness > 66 else ('warning' if latest_report.pantry_fullness > 33 else 'danger') }}">{{ latest_report.pantry_fullness }}% ({{ 'Full' if latest_report.pantry_fullness > 66 else ('Half Full' if latest_report.pantry_fullness > 33 else 'Empty') }})</span></p>
                                        <p>Last Updated: {{ latest_report.time.strftime("%c") }}</p>
                                            <a href="/location/{{ location[0].id }}" class="btn btn-info">View More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // Formatter functions
    function timeFormatter(value, row, index) {
        const now = new Date();
        const updatedAt = new Date(value * 1000); // Convert timestamp to milliseconds

        // Get user's timezone offset (in minutes)
        const timezoneOffset = new Date().getTimezoneOffset();

        // Adjust updatedAt to user's timezone
        updatedAt.setMinutes(updatedAt.getMinutes() - timezoneOffset);

        const secondsAgo = Math.round((now - updatedAt) / 1000);
        const minutesAgo = Math.round(secondsAgo / 60);
        const hoursAgo = Math.round(minutesAgo / 60);

        if (hoursAgo < 1) {
            return minutesAgo + " minute" + (minutesAgo > 1 ? "s" : "") + " ago";
        } else if (hoursAgo < 24) {
            return hoursAgo + " hour" + (hoursAgo > 1 ? "s" : "") + " ago";
        } else {
            return updatedAt.toLocaleDateString(); // Fallback to date if older
        }
    }
</script>

{% endblock %}
